.image {
    line-height: 0;


    & img.fade-in-image {
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }

    &.loaded {
        & img.fade-in-image {
            opacity: 1;
        }
    }
}