div.resizing-element {
    min-height: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    opacity: 0;

    transition: opacity 0.3s ease-in-out 0.1s, height 0.3s ease-in-out, min-height 0.3s ease-in-out;

    &.visible {
        opacity: 1;
    }
}